section {
    background-color: rgba(3, 66, 49, 0.45);
}

img {
    object-fit: cover;
}

.placeholder-img {
    background-color: #ccc;
    width: 100%;
    height: 300px;
}

.text-justify {
    text-align: justify;
}

.img-bg-1th {
    height: 620px;
    background-image: url(../assets/imgs/streetwear-category.jpg);
    background-position: center;
    background-size: cover;

}

.img-bg-2th {
    background-image: url(../assets/imgs/hoodies-category.jpg);
    background-position: top;
    background-size: cover;
}

.img-bg-3th {
    background-image: url(../assets/imgs/shoes-category.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}