
/***** Ham Menu Css *****/ 

.bm-menu-wrap {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
}

.bm-menu {
    background-color: #ffffff;
    padding: 10px;
}

.bm-morph-shape {
  fill: #ffffff;
}

.bm-item-list {
    padding: 10px;
    display: flex;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

   .bm-item a:hover {
      color: #ff4081;
      cursor: pointer;
    }

    .bm-item a::after {
      content: '';
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 0;
      height: 2px;
      background: #ff4081;
      transition: width 0.3s;
    }

    .bm-item a:hover::after {
      width: 100%;
    }

.bm-item {
  width: 90%;
  font-family: "Lexend", sans-serif;
  font-weight: 800;
  color: #000000;
}

.bm-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh !important;
  align-items: center;
  justify-content: center;
}

.bm-burger-bars, .hamburger-react, #react-burger-menu-btn{
   display: none;
   opacity: 0;
}

@media (min-width:400px) and (max-width:900px) {
  .bm-burger-bars, .hamburger-react, #react-burger-menu-btn{
   display: block;
   opacity: 100%;
  }
  
  nav{
    display: none;
  }
}


/***** End Ham Menu Css *****/
