
/***** WebPage Css Application *****/ 

:root{
    --default-color: #8C5C51;
    --font-poppins: "Poppins", sans-serif;
    --font-montserrant: "Lexend", sans-serif;
    --font-lato: "Lato", sans-serif;
    --color-white: #ffff;
    --color-black: #000000;
    --color-gray: #8f8f8f6c;
}
